@import "fonts.scss";
@import "colors.scss";

.main-div {
  background-color: $primary;
  width: 100%;
  padding: 3.5vh 0;

  h1 {
    color: $secondary;
    font-size: 80px;
    font-weight: 500;
  }

  h1.main-div-text {
    padding-top: 5%;
  }

  .main-div-button-set {
    margin: 5% 0;
  }

  @media (max-width: 370px) {
    h2 {
      font-size: 7vw;
    }
  }
}

.cards-clients {
  padding: 2vh 0;

  background-color: $primary;
  color: $secondary;
  .card1{
    margin-top:3vh;
    margin-bottom: 3vh;
  }
  .card-title{
    color: $primary;
  }  
  .text-below{
    color:$tertiary;
  }
    .card-img-top{
      background-color: $primary;
  }

  .heading{
    text-align: center;
    font-weight: 500;
  }
}
