@import "fonts.scss";
@import "colors.scss";

.main-div {
  background-color: $primary;
  width: 100%;
  padding: 7vh 0;

  h1 {
    color: $secondary;
    font-size: 80px;
    font-weight: 500;
  }

  h1.main-div-text {
    padding-top: 10%;
  }

  .main-div-button-set {
    margin: 5% 0;
  }

  @media (max-width: 370px) {
    h2 {
      font-size: 7vw;
    }
  }
}

.in {
  width: 100%;
  background-color: $secondary;

  .card {
    width: 300px;
    color: $primary;
    box-shadow: none;

    .card-img-top {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12);
    }

    .card-body {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16),
        0 2px 10px 0 rgba(0, 0, 0, .12);

      background-color: $secondary;
      margin-left: 4%;
      margin-right: 4%;
    }
  }
}