@import "fonts.scss";
@import "colors.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  color: $secondary;
  background-color: $primary;
  font-family: $primary-font;
  background-image: url("https://www.colorhexa.com/ff0000.png");
  background-repeat: no-repeat;
  background-size: 100% 65vh;
  background-color: white;
}

.main-div .image-main-div {
  height: 55vh;
  width: 100%;
}
h1 {
  color: white;
  font-size: 80px;
  font-weight: 500;
}
h1.main-div-text {

  padding-top:5%;
}

.main-div-additional{
  margin-top:0%;
}
.main-div-button-set{
  margin-top:8%;
}