@import "fonts.scss";
@import "colors.scss";
@import "App.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  color: $secondary;
  background-color: $primary;
  font-family: $primary-font;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}
label{
  color:$secondary;
}
#name , #email, #subject, #message{
  color:$secondary;
}
.form-house{
  margin-left:0 !important;
  margin-right:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
  margin-top:7%;   
}
.form-part-1{
  margin-left:0 !important;
  margin-right:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
}
.form-name {
  margin-left:0 !important;
  margin-right:0 !important;
  padding-left:0 !important;
  padding-right:0 !important;
}
.form-email{
 


  margin-right:0 !important;
  padding-right:0 !important;
}

@media  (max-width: 770px) {
  
  .form-email{
    
    margin-left:0 !important;
    margin-right:0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
  }
  // .form-title-text{
  //   visibility: hidden;
  // }
}
@media  (max-width: 1000px) {
  
  .form-email{
    
    margin-left:0 !important;
    margin-right:0 !important;
    padding-left:0 !important;
    padding-right:0 !important;
  }
  // .form-title-text{
  //   visibility: hidden;
  // }
}

.secondary-text{
  font-size:2vh;
}
.map-image{
  width:100%;
  position: relative;
  left:50%; 
  transform: translateX(-50%);
}
.form-title-text{
  font-size:4vh;
  font-weight: 700;
}
.image-logo{
  height:80px;
}